<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="{{rootdir}}javascript/jquery.min.js"></script>
<script src="{{rootdir}}javascript/bootstrap.js"></script>
<script src="{{rootdir}}javascript/jquery.treeview.js"></script>
<script src="{{rootdir}}javascript/jquery.scrollTo.js"></script>
<script src="{{rootdir}}javascript/jquery.nav.js"></script>
<script src="{{rootdir}}javascript/navi.js"></script>
