<nav>
<ul>
<li><a href="index.html">Tietokantasovellus</a>
<ul>
<li><a href="aikataulu/index.html">Aikataulu</a>
<ul>
<li><a href="aikataulu/viikko1.html">Viikko 1</a></li>
</ul></li>
<li><a href="arvosteluperusteet.html">Arvosteluperusteet</a></li>
<li><a href="dokumentaatio-ohje.html">Dokumentaatio-ohje</a></li>
<li><a href="kaytettavyys.html">Käytettävyys</a></li>
<li><a href="ohjelmointikielet/index.html">Ohjelmointikielen valinta</a></li>
<li><a href="cleancode.html">Ohjelmointityyli</a></li>
</ul></li>
</ul>
</nav>
